iot/node-red-data/flows.json
[
    {
        "id": "9e198921d7badae7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "40c7d09bf38b6c41",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3c05c4527a151d2d",
        "type": "mqtt in",
        "z": "9e198921d7badae7",
        "name": "",
        "topic": "kelompok2/sensors/#",
        "qos": "1",
        "datatype": "json",
        "broker": "40c7d09bf38b6c41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 260,
        "wires": [
            [
                "a3b0e1f6679a6ae8"
            ]
        ]
    },
    {
        "id": "a3b0e1f6679a6ae8",
        "type": "change",
        "z": "9e198921d7badae7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 260,
        "wires": [
            [
                "1e48fef7ceee4735"
            ]
        ]
    },
    {
        "id": "28b696ed12141cdb",
        "type": "http request",
        "z": "9e198921d7badae7",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://express-gateway:3000/api/sensor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 260,
        "wires": [
            [
                "dd83bd8d64b52cae"
            ]
        ]
    },
    {
        "id": "dd83bd8d64b52cae",
        "type": "debug",
        "z": "9e198921d7badae7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 260,
        "wires": []
    },
    {
        "id": "1e48fef7ceee4735",
        "type": "function",
        "z": "9e198921d7badae7",
        "name": "Pasang Token",
        "func": "var token = global.get(\"authToken\");\n\nif (!token) {\n    node.warn(\"Token belum tersedia\");\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \" + token  \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 260,
        "wires": [
            [
                "28b696ed12141cdb"
            ]
        ]
    }
]