iot/node-red-data/flows.json
[
    {
        "id": "9e198921d7badae7",
        "type": "tab",
        "label": "IoT S1 Pipeline",
        "disabled": false,
        "info": "MQTT sungai+cuaca → merge → POST /iot/traffic (spec §4.6 S1). Queue on gateway down (§4.6C).",
        "env": []
    },
    {
        "id": "40c7d09bf38b6c41",
        "type": "mqtt-broker",
        "name": "iot-mqtt-broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "node-red-s1",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b1oauth000inject1",
        "type": "inject",
        "z": "9e198921d7badae7",
        "name": "Bootstrap OAuth",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3300",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "b1oauth000body01"
            ]
        ]
    },
    {
        "id": "b1oauth000body01",
        "type": "function",
        "z": "9e198921d7badae7",
        "name": "OAuth request body",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    grant_type: \"client_credentials\",\n    client_id: env.get(\"OAUTH_CLIENT_ID\") || \"gateway\",\n    client_secret: env.get(\"OAUTH_CLIENT_SECRET\") || \"GatewaySecretDev123\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            [
                "b1oauth000http01"
            ]
        ]
    },
    {
        "id": "b1oauth000http01",
        "type": "http request",
        "z": "9e198921d7badae7",
        "name": "POST /oauth/token",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://oauth-server:3002/oauth/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 60,
        "wires": [
            [
                "b1oauth000store1"
            ]
        ]
    },
    {
        "id": "b1oauth000store1",
        "type": "function",
        "z": "9e198921d7badae7",
        "name": "Set global.authToken",
        "func": "if (msg.statusCode === 200 && msg.payload && msg.payload.access_token) {\n    global.set(\"authToken\", msg.payload.access_token);\n    node.status({ fill: \"green\", shape: \"dot\", text: \"token ready\" });\n} else {\n    node.warn(\"OAuth bootstrap gagal: \" + JSON.stringify(msg.payload));\n    node.status({ fill: \"red\", shape: \"ring\", text: \"token error\" });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b1mqtt000sungai1",
        "type": "mqtt in",
        "z": "9e198921d7badae7",
        "name": "sungai",
        "topic": "kelompok2/sensors/sungai",
        "qos": "1",
        "datatype": "json",
        "broker": "40c7d09bf38b6c41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "b1merge000func01"
            ]
        ]
    },
    {
        "id": "b1mqtt000cuaca01",
        "type": "mqtt in",
        "z": "9e198921d7badae7",
        "name": "cuaca",
        "topic": "kelompok2/sensors/cuaca",
        "qos": "1",
        "datatype": "json",
        "broker": "40c7d09bf38b6c41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "b1merge000func01"
            ]
        ]
    },
    {
        "id": "b1merge000func01",
        "type": "function",
        "z": "9e198921d7badae7",
        "name": "Merge sungai + cuaca",
        "func": "const topic = msg.topic || \"\";\nconst data = msg.payload || {};\n\nif (topic.endsWith(\"/sungai\")) {\n    context.set(\"sungai\", data);\n} else if (topic.endsWith(\"/cuaca\")) {\n    context.set(\"cuaca\", data);\n} else {\n    return null;\n}\n\nconst sungai = context.get(\"sungai\");\nconst cuaca = context.get(\"cuaca\");\n\nif (!sungai || !cuaca) {\n    node.status({ fill: \"yellow\", shape: \"ring\", text: \"waiting pair\" });\n    return null;\n}\n\nconst merged = Object.assign({}, sungai, cuaca, {\n    idNode: sungai.idNode || cuaca.idNode || 1\n});\n\ncontext.set(\"sungai\", null);\ncontext.set(\"cuaca\", null);\nnode.status({ fill: \"green\", shape: \"dot\", text: \"merged\" });\n\nmsg.payload = merged;\nmsg.iotBody = merged;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "1e48fef7ceee4735"
            ]
        ]
    },
    {
        "id": "b1queue000drain1",
        "type": "inject",
        "z": "9e198921d7badae7",
        "name": "Drain IoT queue",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "b1queue000pop01"
            ]
        ]
    },
    {
        "id": "b1queue000pop01",
        "type": "function",
        "z": "9e198921d7badae7",
        "name": "Pop pending reading",
        "func": "const queue = global.get(\"iotPendingQueue\") || [];\n\nif (!queue.length) {\n  node.status({ fill: \"grey\", shape: \"ring\", text: \"queue empty\" });\n  return null;\n}\n\nconst next = queue.shift();\nglobal.set(\"iotPendingQueue\", queue);\n\nmsg.payload = next;\nmsg.iotBody = next;\nmsg.topic = \"queue/retry\";\nnode.status({ fill: \"blue\", shape: \"dot\", text: queue.length + \" left\" });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 380,
        "wires": [
            [
                "1e48fef7ceee4735"
            ]
        ]
    },
    {
        "id": "1e48fef7ceee4735",
        "type": "function",
        "z": "9e198921d7badae7",
        "name": "Pasang Token",
        "func": "const body = msg.iotBody || msg.payload;\nif (!body || typeof body !== \"object\") {\n    return null;\n}\n\nmsg.iotBody = body;\nmsg.payload = body;\n\nconst token = global.get(\"authToken\");\nif (!token) {\n    const queue = global.get(\"iotPendingQueue\") || [];\n    const exists = queue.some((item) => JSON.stringify(item) === JSON.stringify(body));\n    if (!exists) {\n        if (queue.length >= 50) {\n            queue.shift();\n        }\n        queue.push(body);\n        global.set(\"iotPendingQueue\", queue);\n    }\n    node.warn(\"Token belum tersedia — payload masuk antrian (\" + queue.length + \")\");\n    node.status({ fill: \"yellow\", shape: \"ring\", text: \"queued \" + queue.length });\n    return null;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \" + token\n};\n\nnode.status({ fill: \"green\", shape: \"dot\", text: \"auth ok\" });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "28b696ed12141cdb"
            ]
        ]
    },
    {
        "id": "28b696ed12141cdb",
        "type": "http request",
        "z": "9e198921d7badae7",
        "name": "POST /iot/traffic",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://express-gateway:3000/iot/traffic",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 880,
        "y": 280,
        "wires": [
            [
                "b1queue000handle1"
            ]
        ]
    },
    {
        "id": "b1queue000handle1",
        "type": "function",
        "z": "9e198921d7badae7",
        "name": "Gateway response / enqueue",
        "func": "const code = msg.statusCode || 0;\nconst body = msg.iotBody;\n\nif (code >= 200 && code < 300) {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"posted \" + code });\n    return msg;\n}\n\nif (!body) {\n    node.warn(\"Gateway error tanpa iotBody: \" + code);\n    return null;\n}\n\nconst queue = global.get(\"iotPendingQueue\") || [];\nconst exists = queue.some((item) => JSON.stringify(item) === JSON.stringify(body));\nif (!exists) {\n    if (queue.length >= 50) {\n        queue.shift();\n    }\n    queue.push(body);\n    global.set(\"iotPendingQueue\", queue);\n}\n\nnode.warn(\"Gateway HTTP \" + code + \" — antrian \" + queue.length);\nnode.status({ fill: \"red\", shape: \"ring\", text: \"queued \" + queue.length });\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 260,
        "wires": [
            [
                "dd83bd8d64b52cae"
            ]
        ]
    },
    {
        "id": "b1queue000enqueue1",
        "type": "function",
        "z": "9e198921d7badae7",
        "name": "Enqueue on HTTP error",
        "func": "const body = msg.iotBody;\nif (!body) {\n    node.warn(\"HTTP error tanpa iotBody: \" + (msg.error || msg.payload));\n    return null;\n}\n\nconst queue = global.get(\"iotPendingQueue\") || [];\nconst exists = queue.some((item) => JSON.stringify(item) === JSON.stringify(body));\nif (!exists) {\n    if (queue.length >= 50) {\n        queue.shift();\n    }\n    queue.push(body);\n    global.set(\"iotPendingQueue\", queue);\n}\n\nnode.warn(\"Gateway unreachable — antrian \" + queue.length + \": \" + (msg.error || \"\"));\nnode.status({ fill: \"red\", shape: \"ring\", text: \"queued \" + queue.length });\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "dd83bd8d64b52cae",
        "type": "debug",
        "z": "9e198921d7badae7",
        "name": "gateway response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 260,
        "wires": []
    }
]